# Environment variables file
.env
.env.*

# Virtual environment directories
env/
venv/
.venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Logs and temp
*.log
*.tmp
*.bak

# Model files
*.pt
*.onnx
*.h5

# Systemd and PM2 artifacts
*.pid
*.sock

# VSCode / JetBrains
.vscode/
.idea/
